@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Acme&family=Nunito:wght@200;300;400;500;600;700;800&family=Spicy+Rice&display=swap");

:root {
  body {
    font-family: "Acme", sans-serif;
    font-weight: 100;
    letter-spacing: 0.025rem;
    /* background-color: #D18F62; */
  }
}

::selection {
  background-color: #E7D9FF;
  color: #FD1E39;
}

header,
footer,
section {
  @apply px-container;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "roboto-reg";
  src: url("../../public/fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("../../public/fonts/roboto-regular-webfont.woff") format("woff"),
    url("../../public/fonts/Roboto-Regular.ttf") format("ttf");
}

body {
  font-family: "roboto-reg", sans-serif;
} */
